body {
    background-image: url("../../public/Images/Homepage.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;
}

.input-fields {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   grid-gap: 10px;
   padding-right: 34rem;
  }

input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid;
  }

a {
    color: black;
    outline: none;
}

.create-button {
    text-decoration: none;
}

  button {
    background: white;
    color: black;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    width: 10rem;
  }

  .link-button {
    width: 135px;
    margin-left: 10px;
  }

  button > a {
    color: black;
  }
 
  img {
     margin-left: 35px;
     margin-bottom: 3rem;
   }

   /* create profile */

   .create {
    display: grid;
    width: 25rem;
    height: 30rem;
    background-color: white;
    border: 5px solid;
    box-shadow: 10px 10px turquoise;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   grid-gap: 1em;
   text-align: center;
  }

  .create > button {
    margin-left: 115px;
    margin-bottom: 30px;
    background: salmon;
    border: 2px solid;
  }

  .homepage {
    color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-right: 30%;
    font-size: 23px;
}
    
.homebutton{
 
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  

    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;

  
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  
  
    /* Push the button downwards when pressed */
    transform: translateY(0);

    margin-left: 17%;
  }

  