.create {
   
    display: grid;
    width: 25rem;
    height: 30rem;
    background-color: white;
    border: 5px solid;
    box-shadow: 10px 10px turquoise;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
   grid-gap: 1em;
   text-align: center;
  }

  .create > button {
    margin-left: 145px;
    margin-bottom: 30px;
    background: salmon;
    border: 2px solid;
  }

  .create > input {
    margin-left: 42px;
    width: 300px;
  }