.input-fields {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   grid-gap: 10px;
   padding-right: 34rem;
  }

input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid;
  }

a {
    color: transparent;
    outline: none;
}

.create-button {
    text-decoration: none;
}

  button {
    background: white;
    color: black;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    width: 10rem;
  }

  .link-button {
    width: 135px;
    margin-left: 10px;
  }

  button > a {
    color: black;
  }
 
  img {
     margin-left: 35px;
     margin-bottom: 3rem;
   }