.post-card {
    border: 10px solid;
    box-shadow: 10px 10px turquoise;
    background-color: rgb(208, 95, 95);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}

.post-section {
    border: 2px solid;
    background-color: white;
    padding: 2em;
}

.post-gif {
    height: 20em;
    width: 30em;
}