.profile {
  display: grid;
  width: 25rem;
  height: 30rem;
  background-color: white;
  border: 5px solid;
  box-shadow: 10px 10px turquoise;
  position: relative;
  top: 50%;
  left: 50%;
  grid-gap: 1em;
  text-align: center;
  margin-top: 40px;
  margin-left: 30px;
}

.details {
  margin-top: 80px;
}

.song {
  display: grid;
  width: 25rem;
  height: 30rem;
  background-color: white;
  border: 5px solid;
  box-shadow: 10px 10px turquoise;
  position: relative;
  bottom: 63%;
  right: 120%;
  grid-gap: 0.5em; 
  text-align: center;
  margin-bottom: 50px;
}

.profile {
  display: grid;
  width: 25rem;
  height: 30rem;
  background-color: white;
  border: 5px solid;
  box-shadow: 10px 10px turquoise;
  position: relative;
}

.details > h3,
.details > h4 {
  text-align: center;

  position:relative; top:-80px;
}

.play-pause-button{
  position:relative; top:-80px;
}
